---
layout: 'layouts/textcontent'
title: 'Copyright'
---

<h1 class="text-darkBlue">{{ title }}</h1>
<p class="text-xl">
  {% renderTemplate "liquid,md", cms.website %} {{ copyright }} {% endrenderTemplate
  %}
</p>
