MARIADB_DATABASE=
MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_ROOT_PASSWORD=
MARIADB_AUTO_UPGRADE=
MARIADB_INITDB_SKIP_TZINFO=

MATOMO_DATABASE_ADAPTER=
MATOMO_DATABASE_TABLES_PREFIX=
MATOMO_DATABASE_USERNAME=
MATOMO_DATABASE_PASSWORD=
MATOMO_DATABASE_DBNAME=
MATOMO_DATABASE_HOST=
