---
layout: 'layouts/noborder'
pagination:
  data: cms_legacy.abc
  size: 1
  alias: category
tags: infos
permalink: "infos/{{ category.name | slugify }}/"
eleventyNavigation:
  key: Infos
  order: 20
eleventyComputed:
  title: '{{ category.name }}'
---
<div class="container flex flex-col md:flex-row m-auto md:w-5/6 -mt-4">

  <nav class="hidden md:block w-1/3 pr-7" aria-labelledby="infos-pagination">
    <h3 id="infos-pagination" class="text-base uppercase text-darkBlue">Kategorien</h3>
    <ol class="list-none p-0">
  {%- for pageEntry in pagination.pages %}
      <li class="pl-0 ">
        <a class="font-normal text-darkBlue no-underline hover:underline {% if page.url == pagination.hrefs[ loop.index0 ] %}font-bold{% endif %}" href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ pageEntry.name }}</a>
      </li>
  {%- endfor %}
    </ol>
  </nav>

  <details class="md:hidden mb-8">
    <summary class="cursor-pointer list-none text-darkBlue text-left"><span class="text-darkBlue">Kategorie:</span> <span class="italic">{{ category.name }}</span></summary>
        <ol class="list-none p-0">
    {%- for pageEntry in pagination.pages %}
        <li class="pl-0 ">
          <a class="font-normal text-darkBlue no-underline hover:underline {% if page.url == pagination.hrefs[ loop.index0 ] %}font-bold{% endif %}" href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ pageEntry.name }}</a>
        </li>
    {%- endfor %}
        </ol>
  </details> 


  <div class="md:w-2/3">
    <h1 class="text-darkBlue break-words mb-2 text-3xl md:text-5xl">{{ category.title }}</h1>
    {% renderTemplate "liquid,md", category %} {{ information }} {% endrenderTemplate %}

    <ul class="list-none p-0">
    {% for entry in category.entries %}
      <li class="pl-0">
        {% if entry.ownerUrl == "" %}
          <h2 class="text-base uppercase text-gray-500 pl-2">{{ entry.ownerName }}</h2>
        {% else %}
          <a href="{{ entry.ownerUrl }}"><h2 class="text-base uppercase text-gray-500 pl-2">{{ entry.ownerName }}</h2></a>
        {% endif %}
        <ul class="list-none p-0 m-0 md:pr-2 md:pb-2 flex flex-row flex-wrap gap-6 items-start">
        {% for reference in entry.references %}
          <li class="bg-white shadow-md border border-gray-200 rounded-lg max-w-sm p-0 m-0">
            <a class="no-underline" href="{{ reference.url }}">
              <img class="p-0 m-0 rounded-t-lg" src="{{ reference.previewImageUrl }}" alt="" />
              <div class="p-5">
                  <h3 class="my-0 py-0 text-gray-900 font-bold text-2xl tracking-tight mb-2">{{ reference.title }}
                  </h3>
                <p class="font-normal my-0 py-0 text-gray-700 decoration-transparent">{{ reference.description }}
                </p>
              </div>
            </a>
          </li>
        {% endfor %}
        </ul>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
