---
layout: 'layouts/textcontent'
title: 'Barrierefreiheitserklärung'
---

<h1>{{ title }}</h1>
<p class="text-xl">
  {% renderTemplate "liquid,md", cms.website %} {{ a11y }} {% endrenderTemplate
  %}
</p>
