<header>
  <nav class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex h-24 items-center justify-between">
      <a href="/">
        <figure class="flex flex-shrink-0 items-center space-x-1">
          <img alt="Young Carers Logo" class="h-16 w-auto" src="/images/logo.png" />
        </figure>
      </a>

      <nav class="hidden sm:block" aria-label="Navigation">
        {% assign navPages = collections.all | eleventyNavigation %}
        <ul class="flex space-x-4">
        {%- for entry in navPages %}
          <li class="text-darkBlue no-underline hover:underline {% if entry.url == page.url %} font-bold{% endif %}">
            <a href="{{ entry.url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
        </ul>
      </nav>
      
    </div>
  </nav>
</header>
