<footer>
  <div class="container">Zuletzt aktualisiert:
    {{ cms.timestamp }}
  </div>
  <a href="/impressum/">Impressum</a>
  <a href="/datenschutzerkl채rung/">Datenschutzerkl채rung</a>
  <a href="/barrierefreiheitserkl채rung/">Barrierefreiheitserkl채rung</a>
  <a href="/copyright/">Copyright</a>
</footer>
