<header>
  <nav class="mx-auto max-w-2xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <figure class="flex flex-shrink-0 items-center space-x-1">
        <img alt="11st starter-kit logo" class="h-12 w-auto" src="/images/logo.png"/>
      </figure>
      <ul class="flex space-x-4">
        {% for item in navigation.items %}
          {% if item.url == page.url %}
            {%
           assign highlight = 'cursor-default' %}
            {% assign current =
           'aria-current="page"' %}
          {% else %}
            {% assign highlight = 'underline' %}
            {% assign current = '' %}
          {% endif %}
          <li>
            <a href="{{ item.url }}" class="text-base font-bold {{ highlight }}" {{ current }}>
              {{ item.text }}
            </a>
          </li>
        {% endfor %}
        <li>
          <a href="https://github.com/stefanfrede/11st-starter-kit/" class="text-base font-bold underline hover:text-green-900">
            GitHub
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
