<footer class="bg-darkBlue text-white p-10 dark:prose-invert">
  <div class="flex flex-col-reverse md:flex-row justify-between">
    <a href="https://www.sozialministerium.at/">
      <img class="w-96" src="/images/BMSGPK_Logo_weiss.svg" alt="Logo des österreichischen Sozialministeriums">
    </a>

    <nav
      class="flex flex-wrap justify-center flex-row md:space-x-0 md:flex-col mb-8 md:mb-0 gap-x-3 gap-y-2 md:gap-0 text-right self-center font-light md:gap-y-1">
      <a href="/impressum/">Impressum</a>
      <a href="/datenschutzerklärung/">Datenschutzerklärung</a>
      <a href="/barrierefreiheitserklärung/">Barrierefreiheitserklärung</a>
      <a href="/copyright/">Copyright</a>
    </nav>
  </div>
</footer>
