---
layout: 'layouts/home.html'
permalink: '/infos/'
---
<div
  class="w-full sticky inset-0 hidden h-64 lg:h-auto overflow-x-hidden overflow-y-auto lg:overflow-y-hidden lg:block mt-0 border border-gray-400 lg:border-transparent bg-white shadow lg:shadow-none lg:bg-transparent z-8"
  style="top:5em;" id="menu-content">
  <ul class="list-reset">
    {% for category in cms.abc %}
    {% assign categorySlug = category.name | slugify %}
    {% assign categoryLink = "/info/" | append: categorySlug %}
    {% assign categoryUrl = categoryLink | url %}

    <li class="py-2 md:my-0 hover:bg-red-100 lg:hover:bg-transparent">
      <a href="{{ categoryUrl }}/"
        class="block pl-4 align-middle text-gray-700 no-underline hover:text-red-500 border-l-4 border-transparent lg:hover:border-gray-400">
        <span class="pb-1 md:pb-0 text-sm">{{ category.name }}
        </span>
      </a>
    </li>

    {% endfor %}
  </ul>
</div>
