---
layout: 'layouts/textcontent'
title: 'App'
intro:
  title: 'Young Carers Austria App'
  desc: 'Diese Website existiert auch als App'
---

<img src="/images/app-qr.svg" alt="QR Code to Download the App" />

<img src="/images/appstore.jpg" alt="Apple App Store Link" />

<img src="/images/playstore.jpg" alt="Google Playstore Link" />

<a href="impressum">Impressum</a>
<a href="datenschutzerkl채rung">Datenschutzerkl채rung</a>
<a href="barrierefreiheitserkl채rung">Barrierefreiheitserkl채rung</a>
<a href="copyright">Copyright</a>
