---
layout: 'layouts/noborder'
title: 'Young Carers Austria'
meta:
  desc: 'Mit der neuen App Young Carers Austria gibt es eine Informationsquelle die Betroffenen und deren Familien einen Überblick zu bestehenden (Hilfs-)Angeboten bietet. Aber auch Eltern, Lehrpersonen oder sonstige Wegbegleiter:innen können sich auf der Plattform informieren.'
features:
  - icon: ℹ️
    name: Infos
    text: 'In den Infos haben wir die wichtigsten Informationen für dich gesammelt und sortiert damit du sie bestmöglich findest.'
  - icon: 📆
    name: Alltagssituationen
    text: 'Vielleicht kennst auch die eine dieser Situationen und kannst von den Erlebnissen anderer profitieren.'
  - icon: 🚑
    name: Im Notfall
    text: Vorbereitung ist alles - besonders in einer Notfallsituation, finde hier die wichtigsten Infos die du dafür brauchst.
  - icon: 🤖
    name: Chatbot
    text: Du suchst nach etwas ganz Bestimmtem? Dann frag doch einfach unseren Chatbot, er versucht dir bestmöglich zu helfen!
  - icon: 📱
    name: App
    text: Du möchtest die Infos lieber als App haben, dann wechsle hier zur Young Carers Austria App.
---
<div class="mx-auto max-w-4xl flex flex-col sm:flex-row">
  <h1 class="text-darkBlue basis-2/5 text-center text-7xl justify-center self-center mb-0">Young Carers Austria</h1>
  <p class="basis-3/5 prose prose-lg prose-gray text-gray-500">
    In Österreich gibt es über 42.000 pflegende Kinder und Jugendliche, sogenannte Young Carers. Sie unterstützen im Haushalt, kümmern sich um jüngere Geschwister, übernehmen Pflegetätigkeiten und tragen viel Verantwortung. Das ist eine große Herausforderung, der sich andere Gleichaltrige nicht stellen müssen. Es ist nicht schlimm, wenn man sich Hilfe holt.
    <b class="text-red">Ganz im Gegenteil – Hilfe holen, heißt Stärke zeigen!</b>
  </p>
  <p>
</div>

  Bist auch du ein Young Carer? Hol dir hier Informationen und Unterstützung.
</p>


<div class="flex flex-col flex-wrap md:flex-row my-12">
  {% for feature in features %}
  <div class="drop-shadow-2xl rounded-3xl bg-white scale-105 rotate-6 m-3 transition-all delay-200 duration-500">

<div class="flex flex-row w-96 px-6 py-5">
    <div class="border-r border-transparent my-auto text-4xl pr-2">
{{feature.icon}}
    </div>
  <div class="flex flex-col pl-3">
    <h3 class="my-0 pb-1">
{{feature.name}}
    </h3>
  <p class="mb-0">
{{feature.text}}
  </p>
  </div>
</div>
  </div>

  {% endfor %}
</div>

<h2>Häufig gestellte Fragen</h2>

TODO: Integrate FAQ

<h2>Die App aus Sicht von Nutzer:innen</h2>

<div>"Eine wirklich gelungene und ansprechende App für Kinder, Jugendliche, aber auch für Eltern, Großeltern."</div>

<div>"Die App ist übersichtlich gestaltet und Informationen für zB Notfallsituationen sind schnell und einfach abrufbar."</div>

<h2>Über Young Carers Austria</h2>
<p><img src="/images/sujets/yc-sujet-%C3%B6sterreich.jpg" alt="/images/sujets/yc-sujet-österreich.jpg"></p>
<p>Mit der neuen App &quot;YoungCarers Austria&quot; gibt es eine Informationsquelle die Betroffenen und deren Familien einen Überblick zu bestehenden (Hilfs-)Angeboten bietet. Aber auch Eltern, Lehrpersonen oder sonstige Wegbegleiter:innen können sich auf der Plattform informieren.</p>
<p>Für die Vollständigkeit der Inhalte kann nicht garantiert werden. Ergänzende Hinweise, Tipps oder Anregungen gerne an
  <a href="mailto:yc-support@sozialministerium.at">yc-support@sozialministerium.at</a>
  senden.</p>
<p>Für die Umsetzung der App zeichnet die Fachhochschule Oberösterreich/Campus Hagenberg verantwortlich. Betroffene Jugendliche waren von Beginn an eingebunden. Die App ist kostenlos und barrierefrei.</p>
<h2>Weitere Informationen / Partnereinrichtungen</h2>
<ul>
  <li>
    <a href="https://www.superhands.at/">superhands</a>
  </li>
  <li>
    <a href="https://www.rataufdraht.at/">147 - Rat auf Draht</a>
  </li>
  <li>
    <a href="https://www.jugendrotkreuz.at/">Jugendrotkreuz</a>
  </li>
  <li>
    <a href="https://www.verrueckte-kindheit.at/de/meta/home/">VeRRückte Kindheit</a>
  </li>
  <li>
    <a href="https://www.ig-pflege.at/">Interessensgemeinschaft pflegender Angehöriger</a>
  </li>
</ul>
<h2>Downloads</h2>
<ul>
  <li><a href="https://broschuerenservice.sozialministerium.at/Home/Download?publicationId=307">Band 19 der Sozialpolitischen Studienreihe</a></li>
  <li><a href="https://broschuerenservice.sozialministerium.at/Home/Download?publicationId=430">Folder &quot;Young Carers&quot;</a></li>
</ul>
