---
layout: 'layouts/noborder'
title: 'Young Carers Austria'
meta:
desc: 'Mit der neuen App Young Carers Austria gibt es eine Informationsquelle die Betroffenen und deren Familien einen
Überblick zu bestehenden (Hilfs-)Angeboten bietet. Aber auch Eltern, Lehrpersonen oder sonstige Wegbegleiter:innen
können sich auf der Plattform informieren.'
---
<div class="mx-auto max-w-4xl flex flex-col sm:flex-row">
  <h1
    class=" text-center text-3xl text-darkBlue basis-2/5 sm:text-right sm:text-7xl justify-center self-center mb-0 sm:mr-12 -mt-12">
    Young Carers
    Austria
  </h1>
  <div class="basis-3/5">
    <p class="prose prose-lg prose-gray text-gray-500">
      In Österreich gibt es über 42.000 pflegende Kinder und Jugendliche, sogenannte Young Carers. Sie unterstützen im
      Haushalt, kümmern sich um jüngere Geschwister, übernehmen Pflegetätigkeiten und tragen viel Verantwortung. Das ist
      eine große Herausforderung, der sich andere Gleichaltrige nicht stellen müssen. Es ist nicht schlimm, wenn man
      sich
      Hilfe holt.
      <b class="text-red">Ganz im Gegenteil – Hilfe holen, heißt Stärke zeigen!</b>
    </p>
    <p> Bist auch du ein Young Carer? Hol dir hier Informationen und Unterstützung.</p>
  </div>
</div>



<div class="flex flex-row flex-wrap py-12 justify-center">
  <a href="/infos/"
    class="drop-shadow-2xl sm:w-96 rounded-3xl bg-white scale-98 -rotate-2 m-5 transition-all delay-200 duration-500 hover:rotate-0 hover:scale-105 hover:delay-75 hover:duration-150 no-underline">
    <div class="flex flex-row w-96 px-6 py-5">
      <div class="border-r border-transparent my-auto text-4xl pr-2">
        ℹ️
      </div>
      <div class="flex flex-col pl-3 font-normal">
        <h3 class="my-0 pb-1 text-darkBlue">
          Infos
        </h3>
        <p class="mb-0 text-gray-500">
          In den Infos haben wir die wichtigsten Informationen für dich gesammelt und sortiert damit du sie bestmöglich
          findest.
        </p>
      </div>
    </div>
  </a>

  <a href="/alltagssituationen/"
    class="drop-shadow-2xl sm:w-96 rounded-3xl bg-white scale-95 rotate-6 m-5 transition-all delay-200 duration-500 hover:rotate-0 hover:scale-105 hover:delay-75 hover:duration-150 no-underline">
    <div class="flex flex-row w-96 px-6 py-5">
      <div class="border-r border-transparent my-auto text-4xl pr-2">
        📆
      </div>
      <div class="flex flex-col pl-3 font-normal">
        <h3 class="my-0 pb-1 text-darkBlue">
          Alltagssituationen
        </h3>
        <p class="mb-0 text-gray-500">
          Vielleicht kennst auch eine dieser Situationen und kannst von den Erlebnissen anderer profitieren.
        </p>
      </div>
    </div>
  </a>

  <a href="/im-notfall/"
    class="drop-shadow-2xl sm:w-96 rounded-3xl bg-white scale-97 -rotate-3 m-5 transition-all delay-200 duration-500 hover:rotate-0 hover:scale-105 hover:delay-75 hover:duration-150 no-underline">
    <div class="flex flex-row w-96 px-6 py-5">
      <div class="border-r border-transparent my-auto text-4xl pr-2">
        🚑
      </div>
      <div class="flex flex-col pl-3 font-normal">
        <h3 class="my-0 pb-1 text-darkBlue">
          Im Notfall
        </h3>
        <p class="mb-0 text-gray-500">
          Vorbereitung ist alles - besonders in einer Notfallsituation, finde hier die wichtigsten Infos die du dafür
          brauchst.
        </p>
      </div>
    </div>
  </a>

  <button @click="chatbotOpen = true" type="button"
    class="drop-shadow-2xl rounded-3xl text-left sm:w-96 bg-white rotate-2 m-5 transition-all delay-200 duration-500 hover:rotate-0 hover:scale-105 hover:delay-75 hover:duration-150 no-underline">
    <div class="flex flex-row px-6 py-5">
      <div class="border-r border-transparent my-auto text-4xl pr-2">
        🤖
      </div>
      <div class="flex flex-col pl-3 font-normal">
        <h3 class="my-0 pb-1 text-darkBlue">
          Chatbot
        </h3>
        <p class="mb-0 text-gray-500">
          Du suchst nach etwas ganz Bestimmtem? Dann frag doch einfach unseren Chatbot, er versucht dir bestmöglich
          zu
          helfen!
        </p>
      </div>
    </div>
  </button>

  <a href="/app/"
    class="drop-shadow-2xl sm:w-96 rounded-3xl bg-white rotate-3 m-5 transition-all delay-200 duration-500 hover:rotate-0 hover:scale-105 hover:delay-75 hover:duration-150 no-underline">
    <div class="flex flex-row px-6 py-5">
      <div class="border-r border-transparent my-auto text-4xl pr-2">
        📱
      </div>
      <div class="flex flex-col pl-3 font-normal">
        <h3 class="my-0 pb-1 text-darkBlue">
          App
        </h3>
        <p class="mb-0 text-gray-500">
          Du möchtest die Infos lieber als App haben, dann wechsle hier zur Young Carers Austria App.
        </p>
      </div>
    </div>
  </a>
</div>

<section class="max-w-5xl mx-auto my-12">
  <h2 class="text-center text-darkBlue">Häufig gestellte Fragen</h2>

  {%- comment -%} show as details element on mobile {%- endcomment -%}
  <div class="sm:hidden">

    {% for faq in cms.faqs %}

    <details>
      <summary>{{ faq.question }}</summary>
      <div>
        {% renderTemplate "liquid,md", faq %} {{ answer }} {% endrenderTemplate
        %}
      </div>
    </details>

    {% endfor %}

  </div>
  <div class="hidden sm:block">

    <div class="flex flex-row">
      <div class="w-2/5">

        <ul class="list-none">
          {% for faq in cms.faqs %}

          <li class="px-5 py-2 bg-white rounded-lg shadow-md">
            {{ faq.question }}
          </li>

          {% endfor %}
        </ul>
      </div>
      <div class="w-3/5">
        <ul class="list-none">
          {% for faq in cms.faqs %}

          <li>
            {% renderTemplate "liquid,md", faq %} {{ answer }} {% endrenderTemplate
            %}
          </li>

          {% endfor %}
        </ul>
      </div>
    </div>

  </div>
</section>


<section class="max-w-5xl mx-auto">
  <h2 class="text-center text-darkBlue">Die Young Carers Austria App</h2>
  <div class="flex flex-row items-center">
    <div class="w-2/5 h-auto -rotate-2">
      <img src="/images/yc-app.ios.png" alt="Young Carers Austria App">
    </div>
    <div class="w-3/5 pl-10 flex flex-col items-center">

      <div class="bg-white rounded-xl shadow-2xl relative w-4/5 p-5">
        <div class="absolute font-extrabold text-8xl text-darkBlue italic font-serif">"</div>
        <p class="ml-16 mt-8 mb-4">

          Eine wirklich gelungene und ansprechende App für Kinder,
          Jugendliche, aber auch
          für Eltern, Großeltern.
        </p>
      </div>

      <div class="bg-white rounded-xl shadow-2xl relative w-4/5 p-5 mt-12">
        <div class="absolute font-extrabold text-8xl text-darkBlue italic font-serif">"</div>
        <p class="ml-16 mt-8 mb-4">
          Die App ist übersichtlich gestaltet und Informationen für zB Notfallsituationen sind schnell und einfach
          abrufbar.
        </p>
      </div>
      <a class="rounded-full text-center mt-12 bg-red text-white py-2 px-5 no-underline w-32" href="/app/">Zur App</a>
    </div>
  </div>
</section>



<section class="max-w-5xl mx-auto">
  <h2 class="text-center text-darkBlue">Über Young Carers Austria</h2>
  <div class="flex flex-row">
    <div class="w-3/5 pr-10">
      <p>Mit der neuen App &quot;YoungCarers Austria&quot; gibt es eine Informationsquelle die Betroffenen und deren
        Familien
        einen Überblick zu bestehenden (Hilfs-)Angeboten bietet. Aber auch Eltern, Lehrpersonen oder sonstige
        Wegbegleiter:innen können sich auf der Plattform informieren.</p>
      <p>Für die Vollständigkeit der Inhalte kann nicht garantiert werden. Ergänzende Hinweise, Tipps oder Anregungen
        gerne an
        <a href="mailto:yc-support@sozialministerium.at">yc-support@sozialministerium.at</a>
        senden.
      </p>
      <p>Für die Umsetzung der App ist die Fachhochschule Oberösterreich/Campus Hagenberg verantwortlich.
        Betroffene Jugendliche waren von Beginn an eingebunden. Die App ist <b>kostenlos und barrierefrei</b>.</p>
    </div>
    <div class="w-2/5 h-auto">
      <img src="/images/sujets/yc-sujet-%C3%B6sterreich.jpg" alt="/images/sujets/yc-sujet-österreich.jpg">
    </div>
  </div>
</section>
