<!DOCTYPE html>
<html class="leading-tight text-gray-900 antialiased" lang="en">
  <head>
    {% include "partials/site-head" %}
  </head>
  <body
    class="min-h-screen bg-white"
    data-env="{{ node.env }}"
    x-data="{ open: false }"
    x-init="() => { setTimeout(() => { open = true }, 1500); }"
  >
    {% include "partials/site-header" %}

    <div class="py-10">{% block content %}{% endblock %}</div>

    {% include "partials/banner.html" %}

    <div class="container">Zuletzt aktualisiert: {{ cms.timestamp }}</div>
    <a href="/impressum/">Impressum</a>
    <a href="/datenschutzerklärung/">Datenschutzerklärung</a>
    <a href="/barrierefreiheitserklärung/">Barrierefreiheitserklärung</a>
    <a href="/copyright/">Copyright</a>

    <script type="module" src="/main.js"></script>
  </body>
</html>
