<!DOCTYPE html>
<html class="leading-tight text-gray-900 antialiased" lang="en">

<head>
  {% include "partials/site-head" %}
</head>

<body
  class="min-h-screen bg-gray-50"
  data-env="{{ node.env }}"
  x-data="{ chatbotOpen: false }">
  {% include "partials/site-header" %}

  <div class="py-10">{% block content %}{% endblock %}</div>

  {%- comment -%} {% include "partials/banner.html" %} {%- endcomment -%}
  {% include "partials/chatbot" %}

  {% include "partials/site-footer" %}
  <script type="module" src="/main.js"></script>
</body>

</html>
