{% layout "layouts/base" %} {% block content %}
<main id="main-content" tabindex="-1">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="prose prose-lg prose-gray max-w-none text-gray-500">
      {{ content }}
    </div>
  </div>
</main>
{% endblock %}
