{% layout "layouts/base" %} {% block content %}
<main id="main-content" tabindex="-1">
  <div class="prose prose-lg prose-gray text-gray-500 mx-auto px-4 sm:px-6 lg:px-8">
    {{ content }}
  </div>
</main>
{% endblock %}
